* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    text-transform: uppercase;
    font-family: Barlow Semi Condensed;
    text-align: center;
    font-style: normal;
}

.parent {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%)); 
    
    position: relative; 
    overflow: hidden;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 52%;
    min-width: 700px;
    height: 100%;

    margin: 0 auto;
    /* background: hsla(254, 254, 254, 0.5); */
    /* background: lightgray; */
    
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 150px;
    flex-shrink: 0;

    border-radius: 15px;
    border: 3px solid rgba(255, 255, 255, 0.29); 
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 100%;
    padding: 0 24px;
   
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#score-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   

    border-radius: 8px;
    background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);

    width: 150px;
    height: 114px;
    flex-shrink: 0;
}

#score-title {
    color: #2A45C2;
    font-family: Barlow Semi Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.5px;
}

#score-value {
    color: #565468;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    width: 100%;
    height: 420px;

    position: relative;
    overflow: visible;
}

.triangle {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 700px;

    /* background: #00000043; */

    display: flex;
    justify-content: center;
    align-items: center;
    
}

#bg-triangle {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 254px;
    height: 287px;
    
    stroke-width: 15px;
    stroke: #000;
    /* opacity: 0.20000000298023224; */
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
   
    width:252px; 
    height: 248px;

    /* width: 730px;
    height: 718px; */
}

.icon-container:hover {
    cursor: pointer;
    background: url("./extra/Oval-on-hover.svg");
    /* background: url("./extra/selected-overlay.svg"); */
    background-position: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* overflow: visible; */
    z-index: 2;
}

.paper {
    left: 90px;
    top: -40px;
}

.scissors {
    right: 90px;
    top: -40px;
}

.rock {
    bottom: -40px;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center; 

    position: absolute;
    right: 32px;
    bottom: 32px;
}

#rules-button {
    text-transform: uppercase;

    width: 128px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #FFF;
    background: none;

    color: #FFF;
    text-align: center;
    font-family: Barlow Semi Condensed;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.5px;

}

#rules-button:hover {
    cursor: pointer;
    background: #FFF;
    color: #3B4262;
    transition: .5s;
}

#rules-modal-background {
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    background: #000;

    position: absolute;
}

#rules-modal-container {

    width: 400px;
    height: 415px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
    z-index: 4;

    position: absolute;
}


#modal {
    display: flex;
    flex-direction: column;
}

#modal-header {
    color: #3B4262;
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

#modal-header p{
    color: #3B4262;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px; 
}

#close-btn {
    display: grid;
    place-self: center;
}

#close-btn:hover {
    cursor: pointer;
}

#close-btn:hover svg path {
    fill: #DB2E4D;
    opacity: 1;
}

/* Modal Switch*/
.hidden {
    display: none;
}



.step-two {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.step-two-container{
    display: flex;
    width: 700px;
    height: 100%;

    position: absolute;
    top: 0; right: 0; bottom: 0; right: 0;
    /* background: #00000042; */
}

.side-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}



.two-icon-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.step-two-choice {
    width: 292.611px;
    height: 286.699px;
}

#step-three {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;  
}

#title-text{
    position: relative;
    top: 128px;
    /* border: 3px solid #DB2E4D;
    background: #00000042; */
}

#side-container {
    display: grid;
    grid-template-columns: 730px 730px;
    /* gap: 300px; */
    /* width: ; */
    height: 718px;
    /* background: #00000042; */
    position: absolute;
    overflow: hidden;
}

.side-container.win {
    
    border-radius: 50%;
    background-image: radial-gradient(
        rgba(210, 210, 210, 0.120) 40%,
        rgba(210, 210, 210, 0.070) 40%,
        rgba(210, 210, 210, 0.070) 55%,
        rgba(210, 210, 210, 0.020) 55%
    );
    /* overflow: -moz-hidden-unscrollable; */
}


.middle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    height: 131px;
    width: 100%;
}

.middle-text {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.20);
    font-family: Barlow Semi Condensed;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.middle-button button {
    color: #3B4262;
    font-family: Barlow Semi Condensed;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.5px;

    width: 220px;
    height: 48px;
    border-radius: 8px;
    background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
}

.middle-button button:hover {
    cursor: pointer;
    color: #DB2E4D;
}

.try {
    width: 730px;
    height: 718px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;

    background-image: radial-gradient(
        rgba(210, 210, 210, 0.25) 40%,
        rgba(210, 210, 210, 0.15) 40%,
        rgba(210, 210, 210, 0.15) 55%,
        rgba(210, 210, 210, 0.05) 55%
    );

    
}

/* Hide and Display Steps */



@media (max-width: 768px) {
    .main-container {
        
        width: 52%;
        min-width: 311px;
        height: 100%;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 96px;
    }

    .header-container {
        padding: 0 12px;
    }

    #logo {
        width: 83px;
        height: 48px;
        place-self: center;
    }

    #score-container {
        width: 80px;
        height: 72px;
    }

    #score-value {
        color: #565468;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px; /* 100% */
    }

    #score-title {
        text-align: center;
        font-size: 10px;
        line-height: normal;
        letter-spacing: 1.563px;
    }

    /* .main-section {
        
    } */


    .triangle {
        width: 311px;
        margin: auto;
    }

    #bg-triangle {
        content: url("./extra/mobile-bg-triangle.svg");
        width: 166px;
        height: 188px;
    }

    .icon-container {
        width: 136px;
        height: 136px;

    }

    .paper {
        content: url("extra/mobile-full-paper.svg");
        top: 67px;
        left: 0;
    }

    .scissors {
        content: url("extra/mobile-full-scissors.svg");
        top: 67px;
        right: 0;
    }

    .rock {
        content: url("extra/rock-full-rock.svg");
        bottom: 67px;
    }

    .footer {
        position: static;
    }

    #rules-modal-container {
        width: 100%;
        height: 100%;

    }

    #modal {
        display: flex;
        justify-content: space-between;
        height: 70%;
    }

    #modal-content {
        padding: auto;
    }

    #modal-content-image img{
        content: url('/extra/mobile-rules-modal.svg');
    }

    #modal-header p{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
    }

    .main-container {
        /* position: relative; */
    }

    #close-btn {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 66px;
        display: flex;
        justify-content: center;
    }
   
}

/* Hide and Display Steps */

#step-one {
    display: none;
}

#step-two {
    display: none;
}

#step-three {
    /* display: none; */
}