* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    text-transform: uppercase;
    font-family: Barlow Semi Condensed;
    text-align: center;
    font-style: normal;
}

.parent {
    height: 100vh;
    width: 100vw;
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%)); 
    
    position: relative; 
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 48px;
    padding-bottom: 76px; */

    max-width: 700px;
    height: 100%;

    margin: 0 auto;
    /* background: hsla(254, 254, 254, 0.5); */
    /* background: lightgray; */
    
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: solid 3px #fff;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px 30px;
    width: 100%; */

    width: 700px;
    height: 150px;
    flex-shrink: 0;

    border-radius: 15px;
    border: 3px solid rgba(255, 255, 255, 0.29); 
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 100%;
    padding: 0 24px;
   
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#score-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   

    border-radius: 8px;
    background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);

    width: 150px;
    height: 114px;
    flex-shrink: 0;
}

#score-title {
    color: #2A45C2;
    font-family: Barlow Semi Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.5px;
}

#score-value {
    color: #565468;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    width: 100%;
    height: 420px;

    /* width: 270px;
    height: 302px; */

    position: relative;
    /* background: #F3F3F3; */
    overflow: visible;
    
    
}

#bg-triangle {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 254px;
    height: 287px;
    
    stroke-width: 15px;
    stroke: #000;
    /* opacity: 0.20000000298023224; */
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
   
    width:252px; 
    height: 248px;

    /* width: 730px;
    height: 718px; */
}

.icon-container:hover {
    background: url("./extra/Oval-on-hover.svg");
    /* background: url("./extra/selected-overlay.svg"); */
    background-position: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* overflow: visible; */
    z-index: 2;
}

.paper {
    /* width: 298px;
    height: 303px; */
    left: 90px;
    top: -50px;
}

.scissors {
    right: 90px;
    top: -50px;
}

.rock {
    bottom: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center; 

    position: absolute;
    right: 32px;
    bottom: 32px;
}

#rules-button {
    text-transform: uppercase;
    /* padding: 10px 30px;
    border-radius: 5px; */

    width: 128px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #FFF;
    background: none;

    color: #FFF;
    text-align: center;
    font-family: Barlow Semi Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.5px;

}

#rules-button:hover {
    background: #FFF;
    color: #3B4262;
    transition: .5s;
}

#rules-modal-background {
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    background: #000;

    position: absolute;
}

#rules-modal-container {

    width: 400px;
    height: 415px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
    z-index: 4;

    position: absolute;
}


#modal {
    display: flex;
    flex-direction: column;
}

#modal-header {
    color: #3B4262;
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

#modal-header p{
    color: #3B4262;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px; 
}

#close-btn {
    display: grid;
    place-self: center;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .main-container {
        width: 311px;
        /* background: red; */
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 311px;
        height: 96px;
    }

    .header-container {
        padding: 0 12px;
    }

    #logo {
        width: 83px;
        height: 48px;
        place-self: center;
    }

    #score-container {
        width: 80px;
        height: 72px;
    }

    #score-value {
        color: #565468;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px; /* 100% */
    }

    #score-title {
        text-align: center;
        font-size: 10px;
        line-height: normal;
        letter-spacing: 1.563px;
    }

    /* .main-section {
        
    } */

    #bg-triangle {
        content: url("./extra/mobile-bg-triangle.svg");
        width: 166px;
        height: 188px;
    }

    .icon-container {
        width: 136px;
        height: 136px;

    }

    .paper {
        content: url("extra/mobile-full-paper.svg");
        top: 67px;
        left: 0;
    }

    .scissors {
        content: url("extra/mobile-full-scissors.svg");
        top: 67px;
        right: 0;
    }

    .rock {
        content: url("extra/rock-full-rock.svg");
        bottom: 67px;
    }

    .footer {
        position: static;
    }

    #rules-modal-container {
        width: 100%;
        height: 100%;

    }

    #modal {
        display: flex;
        justify-content: space-between;
        height: 70%;
    }

    #modal-content {
        padding: auto;
    }

    #modal-content-image img{
        content: url('/extra/mobile-rules-modal.svg');
    }

    #modal-header p{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
    }

    .main-container {
        /* position: relative; */
    }

    #close-btn {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 66px;
        display: flex;
        justify-content: center;
    }



    
}