/* Media Queries  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  text-transform: uppercase;
  font-family: Barlow Semi Condensed;
  text-align: center;
  line-height: normal;
  font-style: normal;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  position: relative;
  overflow: hidden;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 52%;
  min-width: 311px;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .parent {
    min-width: 700px;
  }
}

.score-panel {
  width: 100%;
  height: 96px;
  border-radius: 5px;
  border: 3px solid rgba(255, 255, 255, 0.29);
}
.score-panel .score-panel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 12px;
}
.score-panel .score-panel-container #logo {
  width: 83px;
  height: 48px;
  place-self: center;
}
.score-panel .score-panel-container #logo img {
  content: url("../extra/mobile-logo.svg");
}
.score-panel .score-panel-container #score-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 8px;
  background: linear-gradient(0deg, #f3f3f3 0%, #fff 100%);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  width: 80px;
  height: 72px;
}
.score-panel .score-panel-container #score-container #score-value {
  color: #565468;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px; /* 100% */
}
.score-panel .score-panel-container #score-container #score-title {
  color: #2a45c2;
  font-size: 10px;
  line-height: normal;
  letter-spacing: 1.563px;
}
@media only screen and (min-width: 768px) {
  .score-panel {
    height: 150px;
    border-radius: 15px;
  }
  .score-panel .score-panel-container {
    padding: 0 24px;
  }
  .score-panel .score-panel-container #logo {
    width: 162px;
    height: 99px;
  }
  .score-panel .score-panel-container #logo img {
    content: url("../images/logo.svg");
  }
  .score-panel .score-panel-container #score-container {
    width: 150px;
    height: 114px;
  }
  .score-panel .score-panel-container #score-container #score-title {
    font-size: 16px;
    letter-spacing: 2.5px;
  }
  .score-panel .score-panel-container #score-container #score-value {
    font-size: 40px;
    line-height: 40px;
  }
}

.game-area {
  width: 100%;
}

#step-one {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-one-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 188px;
}
@media only screen and (min-width: 768px) {
  .step-one-container {
    width: 254px;
    height: 287px;
  }
  .step-one-container #bg-triangle {
    content: url("../images/bg-triangle.svg");
  }
}

.choice {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 136px;
}
@media only screen and (min-width: 768px) {
  .choice {
    width: 252px;
    height: 248px;
  }
  .choice .choice-one img {
    width: 198px;
    height: 203px;
  }
}

.choice:hover {
  background: rgba(210, 210, 210, 0.06);
  border-radius: 50%;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .choice-one img {
    content: url("../extra/desktop-full-paper.svg");
  }
}

.choice.one {
  top: -50px;
  right: 100px;
}
@media only screen and (min-width: 768px) {
  .choice.one {
    top: -100px;
    right: 135px;
  }
}

@media only screen and (min-width: 768px) {
  .choice-two img {
    content: url("../extra/desktop-full-scissors.svg");
  }
}

.choice.two {
  top: -50px;
  left: 100px;
}
@media only screen and (min-width: 768px) {
  .choice.two {
    top: -100px;
    left: 135px;
  }
}

@media only screen and (min-width: 768px) {
  .choice-three img {
    content: url("../extra/desktop-full-rock.svg");
  }
}

.choice.three {
  bottom: -50px;
}
@media only screen and (min-width: 768px) {
  .choice.three {
    bottom: -90px;
  }
}

#step-two {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  #step-two {
    justify-content: normal;
  }
}

.step-two-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.step-two-container .selection {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
@media only screen and (min-width: 768px) {
  .step-two-container .selection {
    align-items: flex-start;
  }
}
.step-two-container .player.selection {
  width: 50%;
  height: 180px;
}
.step-two-container .player.selection #player-selection {
  display: flex;
}
.step-two-container .player.selection #player-selection .you.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 288px;
  position: absolute;
  top: -75px;
  left: -75px;
}
@media only screen and (min-width: 768px) {
  .step-two-container .player.selection #player-selection .you.icon-wrapper {
    width: 730px;
    height: 730px;
    top: -120px;
    left: -320px;
  }
  .step-two-container .player.selection #player-selection .you.icon-wrapper img {
    width: 293px;
  }
}
.step-two-container .player.selection #player-selection .win {
  background: radial-gradient(rgba(210, 210, 210, 0.12) 40%, rgba(210, 210, 210, 0.07) 40%, rgba(210, 210, 210, 0.07) 55%, rgba(210, 210, 210, 0.02) 55%);
  border-radius: 50%;
}
.step-two-container .player.selection #player-selection .player-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 143px;
  height: 32px;
}
@media only screen and (min-width: 768px) {
  .step-two-container .player.selection #player-selection .player-title {
    z-index: 4;
  }
}
.step-two-container .computer.selection {
  width: 50%;
  height: 180px;
  justify-content: flex-end;
  align-items: flex-end;
}
@media only screen and (min-width: 768px) {
  .step-two-container .computer.selection {
    align-items: flex-start;
  }
}
.step-two-container .computer.selection #computer-selection {
  display: flex;
}
.step-two-container .computer.selection #computer-selection .house.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 288px;
  position: absolute;
  top: -75px;
  right: -75px;
}
@media only screen and (min-width: 768px) {
  .step-two-container .computer.selection #computer-selection .house.icon-wrapper {
    width: 730px;
    height: 730px;
    top: -120px;
    right: -320px;
  }
  .step-two-container .computer.selection #computer-selection .house.icon-wrapper img {
    width: 293px;
  }
}
.step-two-container .computer.selection #computer-selection .win {
  background: radial-gradient(rgba(210, 210, 210, 0.12) 40%, rgba(210, 210, 210, 0.07) 40%, rgba(210, 210, 210, 0.07) 55%, rgba(210, 210, 210, 0.02) 55%);
  border-radius: 50%;
}
.step-two-container .computer.selection #computer-selection .computer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 32px;
}
.step-two-container #player-selection,
.step-two-container #computer-selection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.step-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 135px;
  z-index: 5;
}
.step-three .status-container .status {
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  font-size: 56px;
  font-weight: 700;
}
.step-three .status-container .status.win, .step-three .status-container .status.lose {
  display: none;
}
.step-three .play-again-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 48px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 768px) {
  .step-three .play-again-button :hover {
    cursor: pointer;
    color: #DB2E4D;
  }
}
.step-three .play-again-button :hover {
  cursor: pointer;
  color: #DB2E4D;
}
.step-three .play-again-button button {
  color: #3B4262;
  font-size: 16px;
  font-weight: 600;
  border: none;
  letter-spacing: 2.5px;
}
.step-three .play-again-button button :hover {
  cursor: pointer;
  color: #DB2E4D;
}

.rules.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -80px;
}
@media only screen and (min-width: 768px) {
  .rules.button {
    position: absolute;
    right: 32px;
    bottom: 32px;
  }
}

#rules-button:hover {
  cursor: pointer;
  background: #fff;
  color: #3b4262;
  transition: 0.5s;
}

#rules-button {
  text-transform: uppercase;
  width: 128px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2.5px;
}

/* Modal Component */
.rules-modal-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3137254902);
}

#rules-modal-container {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
}
@media only screen and (min-width: 768px) {
  #rules-modal-container {
    width: 400px;
    height: 415px;
  }
}
#rules-modal-container #modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
}
@media only screen and (min-width: 768px) {
  #rules-modal-container #modal {
    height: auto;
  }
}
#rules-modal-container #modal #modal-header {
  color: #3B4262;
  display: flex;
  justify-content: center;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  #rules-modal-container #modal #modal-header {
    justify-content: center;
    align-items: center;
  }
}
#rules-modal-container #modal #modal-header p {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100px;
  font-family: Barlow Semi Condensed;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}
@media only screen and (min-width: 768px) {
  #rules-modal-container #modal #modal-header p {
    color: #3B4262;
    justify-content: flex-start;
    align-items: center;
    padding-left: 32px;
  }
}
#rules-modal-container #modal #modal-header #close-btn {
  position: absolute;
  width: 100%;
  bottom: 66px;
  place-self: center;
}
#rules-modal-container #modal #modal-header #close-btn :hover {
  cursor: pointer;
}
#rules-modal-container #modal #modal-header #close-btn :hover svg path {
  fill: #DB2E4D;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  #rules-modal-container #modal #modal-header #close-btn {
    position: static;
    display: flex;
    place-self: auto;
    justify-content: flex-end;
    padding-right: 32px;
  }
}

/* Modal Switch*/
.hidden {
  display: none;
}

#step-two {
  display: none;
}

.step-three {
  visibility: hidden;
}/*# sourceMappingURL=style.css.map */