//

// $size__site_content_width: 1024px;

/* Media Queries  Not necessarily correct, edit these at will */
// $media_queries : (
//     'mobile'    : "only screen and (max-width: 667px)",
//     'tablet'    : "only screen and (min-width: 668px) and (max-width: $size__site_content_width)",
//     'desktop'   : "only screen and (min-width: ($size__site_content_width + 1))",
//     'retina2'   : "only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)",
//     'retina3'   : "only screen and (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 288dpi)",
//     'landscape' : "screen and (orientation:landscape) ",
//     'portrait'  : "screen and (orientation:portrait) "
// );

// @mixin for_breakpoint($breakpoints) {
//     $conditions : ();
//     @each $breakpoint in $breakpoints {
//         // If the key exists in the map
//         $conditions: append(
//             $conditions,
//             #{inspect(map-get($media_queries, $breakpoint))},
//             comma
//         );
//     }

// @media #{$conditions} {
//     @content;
// }

// }

//
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    text-transform: uppercase;
    font-family: Barlow Semi Condensed;
    text-align: center;
    line-height: normal;
    font-style: normal;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

    position: relative;
    overflow: hidden;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 52%;
    min-width: 311px;
    height: 100%;

    @media only screen and (min-width: 768px) {
        min-width: 700px;
    }
}

/////////////////
// Score Panel //
/////////////////

.score-panel {
    width: 100%;
    height: 96px;
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.29);

    .score-panel-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 100%;

        padding: 0 12px;

        #logo {
            width: 83px;
            height: 48px;
            place-self: center;

            img {
                content: url("../extra/mobile-logo.svg");
            }
        }
        #score-container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            border-radius: 8px;
            background: linear-gradient(0deg, #f3f3f3 0%, #fff 100%);
            box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);

            width: 80px;
            height: 72px;

            #score-value {
                color: #565468;
                font-size: 40px;
                font-weight: 700;
                line-height: 40px; /* 100% */
            }

            #score-title {
                color: #2a45c2;
                font-size: 10px;
                line-height: normal;
                letter-spacing: 1.563px;
            }
        }
    }

    @media only screen and (min-width: 768px) {
        height: 150px;
        border-radius: 15px;

        .score-panel-container {
            padding: 0 24px;

            #logo {
                width: 162px;
                height: 99px;

                img {
                    content: url("../images/logo.svg");
                }
            }
            #score-container {
                width: 150px;
                height: 114px;

                #score-title {
                    font-size: 16px;
                    letter-spacing: 2.5px;
                }
                #score-value {
                    font-size: 40px;
                    line-height: 40px;
                }
            }
        }
    }
}

.game-area {
    width: 100%;
}

#step-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-one-container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 166px;
    height: 188px;

    @media only screen and (min-width: 768px) {
        width: 254px;
        height: 287px;

        #bg-triangle {
            content: url("../images/bg-triangle.svg");
        }
    }

    // background: #00000040;
}

.choice {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    // width: 252px;
    // height: 248px;
    width: 136px;
    height: 136px;

    @media only screen and (min-width: 768px) {
        width: 252px;
        height: 248px;

        #choice-one img {
            width: 198px;
            height: 203px;
        }
    }
}

.choice:hover {
    background: rgba(210, 210, 210, 0.06);
    border-radius: 50%;
    cursor: pointer;
}

#choice-one {
    @media only screen and (min-width: 768px) {
        img {
            content: url("../extra/desktop-full-paper.svg");
        }
    }
}
.choice.one {
    top: -50px;
    right: 100px;
    @media only screen and (min-width: 768px) {
        top: -100px;
        right: 135px;
    }
}

#choice-two {
    @media only screen and (min-width: 768px) {
        img {
            content: url("../extra/desktop-full-scissors.svg");
        }
    }
}
.choice.two {
    top: -50px;
    left: 100px;
    @media only screen and (min-width: 768px) {
        top: -100px;
        left: 135px;
    }
}

#choice-three {
    @media only screen and (min-width: 768px) {
        img {
            content: url("../extra/desktop-full-rock.svg");
        }
    }
}
.choice.three {
    bottom: -50px;
    @media only screen and (min-width: 768px) {
        bottom: -90px;
    }
}

// .parent {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     align-items: center;

#step-two {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // gap: 100px;
    @media only screen and (min-width: 768px){
        justify-content: normal;
    }
}

.step-two-container {
    // display: grid;
    // grid-template-columns: 288px 288px;
    // height: 284px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    // background: #00000040;
    

    .selection {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        @media only screen and (min-width: 768px){
            align-items: flex-start;
        }
    }
    .player.selection {
        width: 50%;
        height: 180px;

        // background: #ff000040;
        #player-selection {
            display: flex;
            .you.icon-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 288px;
                height: 288px;
                
                position: absolute;
                top: -75px;
                left: -75px;

                @media only screen and (min-width: 768px){
                    width: 730px;
                    height: 730px;
                    top: -120px;
                    left: -320px;
                    img {
                        content: url("../extra/desktop-full-rock.svg");
                        width: 293px;
                    }
                }
            }
            .win {
                background: radial-gradient(
                    rgba(210, 210, 210, 0.120) 40%,
                    rgba(210, 210, 210, 0.070) 40%,
                    rgba(210, 210, 210, 0.070) 55%,
                    rgba(210, 210, 210, 0.020) 55%
                );
                border-radius: 50%;
            }
            .player-title {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 143px;
                height: 32px;
                @media only screen and (min-width: 768px){
                    z-index: 4;
                }
            }
        }
        
    }
    .computer.selection {
        width: 50%;
        height: 180px;
        justify-content: flex-end;
        align-items: flex-end;
        @media only screen and (min-width: 768px){
            align-items: flex-start;
        }

        // background: #0000ff40;
        #computer-selection {
            display: flex;
            .house.icon-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 288px;
                height: 288px;
                
                position: absolute;
                top: -75px;
                right: -75px;
                @media only screen and (min-width: 768px){
                    width: 730px;
                    height: 730px;
                    top: -120px;
                    right: -320px;
                    img {
                        content: url("../extra/desktop-full-scissors.svg");
                        width: 293px;
                    }
                }

                // background: #2a45c240;
            }
            .win {
                background: radial-gradient(
                    rgba(210, 210, 210, 0.120) 40%,
                    rgba(210, 210, 210, 0.070) 40%,
                    rgba(210, 210, 210, 0.070) 55%,
                    rgba(210, 210, 210, 0.020) 55%
                );
                border-radius: 50%;
            }
            .computer-title {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 130px;
                height: 32px;
                background: #3b426245;
                // position: static;
                // right: 0px;
                // bottom: 0px;
            }
        }

    }
    #player-selection,
    #computer-selection {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        // gap: 17px;
    }
}

// Step 3 //
.step-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 135px;
    .status-container{

        .status {
            text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.20);
            font-size: 56px;
            font-weight: 700;
        }
    }
    .play-again-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 220px;
        height: 48px;
        border-radius: 8px;
        background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
        box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
        :hover {
            cursor: pointer;
            color: #DB2E4D;
        }

        p {
            color: #3B4262;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 2.5px;
        }
    }
}



//     margin: 0 auto;
// }

.rules.button {
    display: flex;
    justify-content: center;
    align-items: center;

    right: 32px;
    bottom: 32px;

    @media only screen and (min-width: 768px) {
        position: absolute;

        right: 32px;
        bottom: 32px;
    }
}

#rules-button:hover {
    cursor: pointer;
    background: #fff;
    color: #3b4262;
    transition: 0.5s;
}

#rules-button {
    text-transform: uppercase;

    width: 128px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #fff;
    background: none;

    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.5px;
}

/* Modal Component */

.rules-modal-background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000050;
}

#rules-modal-container {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
    position: absolute;

    @media only screen and (min-width: 768px){
        width: 400px;
        height: 415px;
        // z-index: 4;
    }

    #modal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 70%;
        @media only screen and (min-width: 768px){
            height: auto;           
        }
        #modal-header {
            color: #3B4262;
            display: flex;
            justify-content: center;
            width: 100%;
            
            @media only screen and (min-width: 768px){
                justify-content: center;
                align-items: center;
            }
            p {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                width: 100%;
                height: 100px;
                font-family: Barlow Semi Condensed;
                font-size: 32px;
                font-weight: 700;
                line-height: 32px;

                @media only screen and (min-width: 768px){
                    color: #3B4262;
                    justify-content: flex-start;
                    align-items: center;
                    padding-left: 32px;
                }
            }
            #close-btn {
                position: absolute;
                width: 100%;
                bottom: 66px;
                place-self: center;
                :hover {
                    cursor: pointer;     
                }
                :hover svg path {
                    fill: #DB2E4D;
                    opacity: 1; 
                }
                @media only screen and (min-width: 768px) {
                    position: static;
                    display: flex;
                    place-self: auto;
                    justify-content: flex-end;
                    padding-right: 32px;
                }
            }
        }
    }
}



/* Modal Switch*/
.hidden {
    display: none;
}

// Switch for Steps //

#step-one {
    // display: none;
}
#step-two {
    display: none;
}
.step-three {
    visibility: hidden;
}